# UE4 Project directories to ignore
ArenaShooter UE4/Binaries/
ArenaShooter UE4/DerivedDataCache/
ArenaShooter UE4/Intermediate/
ArenaShooter UE4/Saved/
ArenaShooter UE4/Build/
 
# Visual Studio solutions
*.sln
*.sdf
*.opensdf
*.suo

# Assets to ignore
ArenaShooter UE4/.vs/
ArenaShooter UE4/Builds/
ArenaShooter UE4/Content/Effects/
ArenaShooter UE4/Content/Materials/Character
ArenaShooter UE4/Content/Materials/Decals
ArenaShooter UE4/Content/Materials/Effects
ArenaShooter UE4/Content/Materials/Flat
ArenaShooter UE4/Content/Materials/Scenery
ArenaShooter UE4/Content/Materials/Weapons
ArenaShooter UE4/Content/Textures/Character
ArenaShooter UE4/Content/Textures/Particles
ArenaShooter UE4/Content/Textures/Weapons
ArenaShooter UE4/Content/Meshes/

ArenaShooter/ArenaShooter.png
*.rar
*.uproject
*.db
# *.ini
ArenaShooter UE4/Content/Blueprints/Environmental/Planet/
Data/
